#main {
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 550px;
	height: 100%;
	min-height: 600px;
	border: 1px solid;
	background-color: #333;
}
#BarraNav {
	border-top: 1px solid;
	border-bottom: 1px solid;
}
body {
	background-color: #111;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #111;
}
#jogo {
	width: 250px;
	height: 250px;
	display: flex;
	margin: 0 auto;
	flex-wrap: wrap;
	align-content: flex-start;
}
.casa {
	width: 80px;
	height: 80px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 80px;
	border: 1px solid;
}
button {
	margin-top: 40px;
	margin-left: 210px;
}
#jogo0 {
	margin-top: 10px;
}
#jogo1 {
	margin-top: 10px;
}
#jogo2 {
	margin-top: 10px;
}
p#placar {
	margin-left: 250px;
	color: white;
}
b {
	margin-left: 190px;
	color: white;
}
#placar {
	margin-top: 60px;
}